body{
    background-color:rgb(12, 12, 12);
    }
div{
    width: 475px;
    height: 363px;
    }

hr1{
    color:rgb(240, 227, 175);
    font-size: 30px;
    position: absolute;
    text-align: center;
    left: 0%;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 25.6px; 
    }
p.par1{
    color: rgb(215 , 215, 215);
    font-size: 25px;
    margin-left: 1045.8px;
    padding-top: 34px;
    font-family: 'Times New Roman', Times, serif;
    }
.Quad1 {
    position: absolute;
    left: 0%;
    margin-left: 25.6px;
    margin-top: 35px;
    }
.Quad2{
    position: absolute;
    left: 0%;
    margin-left: 535.2px;
    margin-top: 35px;
    }   
ul.list1{
    color: rgb(215 , 215, 215);
    font-size: 23px;
    margin-left: 1045.8px;
    margin-top: -10.4px;
    font-family: 'Times New Roman', Times, serif;
    }

hr2{
    color:rgb(240, 227, 175);
    font-size: 30px;
    position: absolute;
    text-align: center;
    left: 0%;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 25.6px; 
    margin-top: 145.6px;
    }
.cal1 {
    position: absolute;
    left: 0%;
    margin-left: 25.6px;
    margin-top: 179.2px;
    }
.cal2{
    position: absolute;
    left: 0%;
    margin-left: 535.2px;
    margin-top: 179.2px;
    } 
div#d1{
    background-color:rgb(12, 12, 12);
    margin-left: 1045.8px;
    font-size: 25px;
    color: rgb(215 , 215, 215);
    margin-top: 205px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    }

hr3{
    color:rgb(240, 227, 175);
    font-size: 30px;
    position: absolute;
    text-align: center;
    left: 0%;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 25.6px; 
    margin-top: 31.2px;
    }
.shoot1{
    position: absolute;
    left: 0%;
    margin-left: 25.6px;
    margin-top: 64.2px;
    }
.shoot2{
    position: absolute;
    left: 0%;
    margin-left: 535.2px;
    margin-top: 64.2px;
    }  
p.par2{
    color: rgb(215 , 215, 215);
    font-size: 25px;
    margin-left: 1045.8px;
    padding-top: 40px;
    margin-right: 361.2px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    }
p.par3{
    color: rgb(215 , 215, 215);
    font-size: 25px;
    margin-left: 1045.8px;
    padding-top: 0px;
    margin-right:0px;
    text-align: 0px;
    font-family: 'Times New Roman', Times, serif;
    }
ul.list2{
    color: rgb(215 , 215, 215);
    font-size: 23px;
    margin-left: 1045.8px;
    margin-top: -10.4px;
    font-family: 'Times New Roman', Times, serif;
    }