hr1{
    color:rgb(240, 227, 175);
    font-size: 30px;
    position: absolute;
    text-align: center;
    left: 0%;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 25.6px; 
    }
p.par1{
    color: rgb(215 , 215, 215);
    font-size: 25px;
    margin-left: 1045.8px;
    padding-top: 34px;
    }
body{
    background-color:rgb(12, 12, 12);
    }
.Quad1 {
    position: absolute;
    left: 0%;
    margin-left: 25.6px;
    margin-top: 35px;
    }
.Quad2{
    position: absolute;
    left: 0%;
    margin-left: 535.2px;
    margin-top: 35px;
    }   
ul{
    color: rgb(215 , 215, 215);
    font-size: 25px;
    margin-left: 1045.8px;
    }
hr2{
    color:rgb(240, 227, 175);
    font-size: 30px;
    position: absolute;
    text-align: center;
    left: 0%;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 25.6px; 
    margin-top: 120.6px;
    }
.cal1 {
    position: absolute;
    left: 0%;
    margin-left: 25.6px;
    margin-top: 154.2px;
    }
.cal2{
    position: absolute;
    left: 0%;
    margin-left: 535.2px;
    margin-top: 154.2px;
    } 
div{
    width: 475px;
    height: 363px;
    }
div#d1{
    background-color:rgb(12, 12, 12);
    margin-left: 1045.8px;
    font-size: 25px;
    color: rgb(215 , 215, 215);
    margin-top: 180px;
    text-align: center;
    }